h1 {
font-size: 32px;
color: darkgreen;
font-weight: bold;
}

td {
    background-color: #ffffff;
    border: 1px solid #aaa;
}

footer a {
    text-decoration: none;
    color: darkblue:
}

footer a:hover {
    color: orange;
}
